<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'home_01.png',class: 'img-responsive img-center'%>
      <div class="carousel-caption">
        <h3 class="center">Welcome to the Fuel Management System</h3>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'home_02.png',class: 'img-responsive img-center'%>
      <div class="carousel-caption">
        <h3 class="center">Get the most out of every drop</h3>
      </div>
    </div>

    <div class="item">
      <%= image_tag 'home_03.jpg',class: 'img-responsive img-center'%>
      <div class="carousel-caption">
        <h3 class="center">Keep clam and save fuel</h3>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="welcome">
  <div class="container">
    <h2>Welcome to our fuel management system</h2>
    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>