<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: fuel_tran, local: true) do |form| %>
      <% if fuel_tran.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(fuel_tran.errors.count, "error") %> prohibited this fuel_tran from being saved:</h2>

          <ul>
          <% fuel_tran.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  
      <div class="field">
        <%= form.label :date %>
        <%= form.text_field :date, :id => 'datepicker', :value => Date.today().strftime("%d-%b-%Y"), class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :qty ,:value=> "Quantity"%>
        <%= form.number_field :qty, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price, class: 'form-control'%>
      </div>

      <%= form.label :buy, class: "radio_button inline" do %>
        <%= form.radio_button :trans_type ,true%>
        <span>Buy Transaction</span>
      <% end %>

      <%= form.label :sale, class: "radio_button inline" do %>
        <%= form.radio_button :trans_type , false%>
        <span>Sale Transaction</span>
      <% end %>

      <div class="actions">
        <%= form.submit :class => "btn btn-info" %>
      </div>
      <%= link_to 'Back', fuel_trans_path %>
    <% end %>
  </div>
</div>

<script>
  $('#datepicker').datepicker({format: 'dd-M-yyyy'});
</script>


