<p>
  <strong>Date:</strong>
  <%= @fuel_tran.date.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fuel_tran.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@fuel_tran.price) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@fuel_tran.amount) %>
</p>

<p>
  <strong>Stock Balance:</strong>
  <%= @fuel_tran.stock_balance %>
</p>

<p>
  <strong>Total Gross Profit:</strong>
  <%= number_to_currency(@total_gross_profit) %>
</p>


<%= link_to 'Edit', edit_fuel_tran_path(@fuel_tran) %> |
<%= link_to 'Back', fuel_trans_path %>


  


