<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: user, local: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :username %>
        <%= form.text_field :username,class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :password %>
        <%= form.text_field :password,class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email,class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :role_id %>
        <%= form.select :role_id, Role.all.collect {|role| [ role.role_type,role.id ] }, { :include_blank => "Please select" },class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit :class => "btn btn-info" %>
      </div>
    <% end %>
    <%= link_to 'Back', users_path %>
  </div>
</div>