 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: cash_in_out, local: true) do |form| %>
      <% if cash_in_out.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(cash_in_out.errors.count, "error") %> prohibited this cash_in_out from being saved:</h2>

          <ul>
          <% cash_in_out.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
 
      <div class="field">
        <%= form.label :date %>
        <%= form.text_field :date, :id => 'datepicker',:value => cash_in_out.date.strftime("%d-%b-%Y"), class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :amount %>
        <%= form.text_field :amount, class: 'form-control' %>
      </div>

      <%= form.label :cash_in, class: "radio-button inline required" do%>
        <%= form.radio_button :trans_type ,true%>
        <span>Cash In</span>
      <% end %>

      <%= form.label :cash_out, class: "radio-button inline required" do%>
        <%= form.radio_button :trans_type , false%>
        <span>Cash Out</span>
      <% end %>

      <div class="actions">
        <%= form.submit :class => "btn btn-info"%>
      </div>
      <%= link_to 'Show', @cash_in_out %> | <%= link_to 'Back', cash_in_outs_path %>
    <% end %>
  </div>
</div>

<script>
  $('#datepicker').datepicker({format: 'dd-M-yyyy'});
</script>
