<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Cash In Outs
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Balance</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @cash_in_outs.each do |cash_in_out| %>
                <tr>
                  <td><%= cash_in_out.date.strftime("%d-%b-%Y") %></td>
                  <td><%= number_to_currency(cash_in_out.amount) %></td>
                  <td><%= number_to_currency(cash_in_out.balance) %></td>
                  <td><%= link_to 'Show', cash_in_out %></td>
                  <td><%= link_to 'Edit', edit_cash_in_out_path(cash_in_out) %></td>
                  <td><%= link_to 'Destroy', cash_in_out, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Add Cash In-out Transaction", new_cash_in_out_path%>
</div>

