<p>
  <strong>Date:</strong>
  <%= @cash_in_out.date.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@cash_in_out.amount) %>
</p>

<p>
	<strong>Balance:</strong>
	<%= number_to_currency(@cash_in_out.balance) %>
</p>

<%= link_to 'Edit', edit_cash_in_out_path(@cash_in_out) %> |
<%= link_to 'Back', cash_in_outs_path %>
