<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Fuel total Gross Profit 
        </div>
        <div class="panel-body">
          <h3>
            <%= number_to_currency(@fuel_gross_profit) %>
          </h3>
          <div>
            <canvas id="canvasfuel" class="line-chart"></canvas>
          </div>          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-heading">
          Currency total Gross Profit 
        </div>
        <div class="panel-body">
          <h3>
            <%= number_to_currency(@money_gross_profit) %>
          </h3>
          <div>
            <canvas id="canvascurrency" class="line-chart"></canvas>
          </div>          
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Total Balance 
        </div>
        <div class="panel-body">
          <h3>
            $1000000
          </h3>
          <div>
            <canvas id="cashcurrency" class="line-chart"></canvas>
          </div>          
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h4>Fuel Transactions</h4>
        </div>
        <div class="panel-body dataTables_wrapper">
          <div class="form-group dataTables_length">
            <label class="col-md-7">Show entries</label>
            <div class="col-md-5"> 
              <select class="form-control" id="entries">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
              </select>
            </div>
          </div>
          <div>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Amount</th>
                  <th>Stock Balance</th>
                  <th>Transaction Type</th>
                </tr>
              </thead>

              <tbody>
                <% @fuel_trans.each do |fuel_tran| %>
                  <tr>
                    <td><%= fuel_tran.date.strftime("%d-%b-%Y") %></td>
                    <td><%= number_with_delimiter(fuel_tran.qty) %></td>
                    <td><%= number_to_currency(fuel_tran.price) %></td>
                    <td><%= number_to_currency(fuel_tran.amount) %></td>
                    <td><%= number_with_delimiter(fuel_tran.stock_balance) %></td>
                    <% if fuel_tran.trans_type == '01' %>
                      <td>Buy</td>
                    <% else %>
                      <td>Sale</td>
                    <% end %>
                  </tr>
                <% end %>   
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Money Transactions
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Money Balance</th>
              </tr>
            </thead>

            <tbody>
              <% @money_trans.each do |money_tran| %>
                <tr>
                  <td><%= money_tran.date.strftime("%d-%b-%Y") %></td>
                  <td><%= number_to_currency(money_tran.qty) %></td>
                  <td><%= number_to_currency(money_tran.price) %></td>
                  <td><%= number_to_currency(money_tran.amount) %></td>
                  <td><%= number_to_currency(money_tran.money_balance) %></td>
                </tr>
              <% end %>   
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Cash In Outs
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Balance</th>
              </tr>
            </thead>

            <tbody>
              <% @cash_in_outs.each do |cash_in_out| %>
                <tr>
                  <td><%= cash_in_out.date.strftime("%d-%b-%Y") %></td>
                  <td><%= number_to_currency(cash_in_out.amount) %></td>
                  <td><%= number_to_currency(cash_in_out.balance) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="sparkline.js"></script>
<script>
  sparkline ('canvasfuel', [98,78,124,35,89,25,24,23,9,23,78,121,123,130], true);
  sparkline ('canvascurrency', [25,48,124,35,98,125,25,23,9,23,78,100,123,130], true);
  sparkline ('cashcurrency', [75,23,94,35,98,105,145,23,59,23,78,50,123,30], true);
</script>