@import "bootstrap-sprockets";
@import "bootstrap";
@import "fontawesome";

/* universal */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a:hover {
  text-decoration: none;
  background : #5bc0de;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 30px;;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
   margin-top: 10px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #000;
   text-align: center;
   border-top: 1px solid #eaeaea;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* image */

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
  height: 700px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.radio_button {
  margin-left: 0px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#fuel_tran_trans_type_true {
  width: auto;
  margin-left: 0;
}

#fuel_tran_trans_type_false {
  width: auto;
  margin-left: 0;
}

#money_tran_trans_type_true {
  width: auto;
  margin-left: 0;
}

#money_tran_trans_type_false {
  width: auto;
  margin-left: 0;
}

#cash_in_out_trans_type_true {
  width: auto;
  margin-left: 0;
}

#cash_in_out_trans_type_false {
  width: auto;
  margin-left: 0;
}

#span-design {
  background-color: #fff;
}

#welcome {
  text-align: center;
}

th,td {
  text-align: right;
}

.dataTables_wrapper {
  overflow: hidden;
  padding-bottom: 5px;

  .dataTables_length{
    color: #313435;
    float: left;

    select {
      border: 1px solid #313435;
      border-radius: 2px;
      box-shadow: none;
      height: 35px;
      font-size: 14px;
      padding: 5px;
      margin-left: 5px;
      margin-right: 5px;
      color: #313435;
      transition: all 0.2s ease-in;
    }
  }
}

.bg-white {
  background-color: #fff;
}

