<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          Money Transactions
        </div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Stock Balance</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @money_trans.each do |money_tran| %>
                <tr>
                  <td><%= money_tran.date.strftime("%d-%b-%Y") %></td>
                  <td><%= money_tran.qty %></td>
                  <td><%= number_to_currency(money_tran.price) %></td>
                  <td><%= number_to_currency(money_tran.amount) %></td>
                  <td><%= number_to_currency(money_tran.money_balance) %></td>
                  <td><%= link_to 'Show', money_tran %></td>
                  <td><%= link_to 'Edit', edit_money_tran_path(money_tran) %></td>
                  <td><%= link_to 'Destroy', money_tran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>   
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-info">
        <div class="panel-heading">
          Total Gross Profit
        </div>
        <div class="panel-body">
          <h3>
            <%= number_to_currency(@total_gross_profit) %>
          </h3>
          <div>
            <canvas id="mycanvas" class="line-chart"></canvas>
          </div>          
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Add New Money Transaction", new_money_tran_path%>
</div>

<script src="sparkline.js"></script>
<script>
sparkline ('mycanvas', [98,78,124,35,89,25,24,23,9,23,78,121,123,130], true)
;
</script>