<p>
  <strong>Date:</strong>
  <%= @money_tran.date.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @money_tran.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@money_tran.price) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@money_tran.amount) %>
</p>

<p>
  <strong>Money Balance:</strong>
  <%= number_to_currency(@money_tran.money_balance) %>
</p>

<%= link_to 'Edit', edit_money_tran_path(@money_tran) %> |
<%= link_to 'Back', money_trans_path %>
