<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy by May Myat Mon</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
        <li><%= link_to "Help",   help_path %></li>
      </ul>
    </nav>
  </footer>
</div>