<nav class="navbar navbar-fixed-top navbar-default bg-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" id="span-design"></span>
        <span class="icon-bar" id="span-design"></span>
        <span class="icon-bar" id="span-design"></span> 
      </button>
      <a class="navbar-brand fa fa-tachometer" href="/" id="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <% if current_user.role_id == 1 %>
            <li><%= link_to "Main Dashboard", maindashboards_path%></li>
          <%elsif current_user.role_id == 2%>
            <li><%= link_to "Main Dashboard", maindashboards_path%></li>
            <li><%= link_to "Fuel Transactions",  fuel_trans_path%></li>
          <% else %>
            <li><%= link_to "Main Dashboard", maindashboards_path%></li>
            <li><%= link_to "Currency Transactions",  money_trans_path%></li>
            <li><%= link_to "Cash In-Out",  cash_in_outs_path%></li>
          <% end %>  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div> 
  </div>
</nav>