<!DOCTYPE html>
<html>
  <head>
    <title>FuelManagementSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>" id="alert"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <div class="container">
    <%= render 'layouts/footer' %>
  </div>
</html>
